<header>
    <div id = 'header'>
        <div id = 'header-div__middle'>
            <h1 class = 'white'> 🌻 The Summer Store 🌻</h1>
            <h4 class = 'white'> Welcome, <%= username %> </h4>
        </div>
        <div id = 'header-div__right'>
            <form action="/auth/logout" method="post">
                <button class = 'btn btn-info' name = 'logoutButton'> Log out </button>
            </form>
        </div>
    </div>
    <div id = 'buttons-menu' class = 'row-centered-div black-background'>
        <button class = "btn btn-primary"> <a href="/"> Products </a> </button>
        <button class = "btn btn-primary"> <a href="/cart"> Carts </a> </button>
        <button class = "btn btn-primary"> <a href="/messages"> Messages </a> </button>
        <button class = "btn btn-primary"> <a href="/account"> Account </a> </button>
        <button class = "btn btn-primary"> <a href="/admin"> Admin Panel </a> </button>
    </div>
</header>