<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/styles.css">
    <title> Oops... That's an error </title>
</head>
<body id = 'wrapper'>
    <%- include ('partials/header.ejs')%>
    <div class = 'content-div'>
        <div class = "column-centered-div">
            <div class = "error-card column-centered-div">
                <h3> It seems you have an error, in particular:</h3>
                <h3> <%= error %> </h3>
                <img src="https://media3.giphy.com/media/haZOqHKz9tTfW/giphy.webp?cid=ecf05e47g8bv50p54ywvh9tvibajvpomb6iqmfkpik531b6b&rid=giphy.webp&ct=g" class = 'error-image' alt="">
                <div class = 'row-centered-div'>
                    <button class = "btn btn-info" onclick= "return goToHome()"> Go to Home </button>
                    <button class = "btn btn-info" onclick= "return goToSignup()"> Go to Sign Up </button>
                </div>

            </div>
        </div>
    </div>
    <%- include ('partials/footer.ejs')%>
</body>
    <script src="../../js/error.js"></script>
</html>